[Unit]
Description=OpenVPN Client Monitor service
After=network.target

[Service]
Type=simple
Restart=always
StartLimitIntervalSec=0
RestartSec=1
ExecStart=/usr/bin/openvpn-client-mon

[Install]
WantedBy=multi-user.target